@model IEnumerable<Bestemming>
@{
    ViewData["Title"] = "Index";
}

<h1>@ViewBag.Land</h1>
<h1>
    <img src="~/Images/@(ViewBag.Land).png" />
</h1>
@if (Model != null)
{
    <table>
        <tbody>
            @foreach (var bestemming in Model!)
            {
                <tr>
                    <td>
                        <a asp-action="Reizen" asp-route-code="@bestemming.Code">@bestemming.Plaats</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}